* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #121212;
  color: #e0e0e0;
  font-family: sans-serif;
  padding: 20px;
}

.h1-box {
  width: 100%;
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 500;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #1e1e1e;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #2b2b2b;
  border: 1px solid #444;
  border-radius: 6px;
  color: #fff;
  outline: none;
}

input:focus {
  border-color: #0d6efd;
}

.secao-contato {
  padding: 15px;
  border: 1px solid #333;
  margin-bottom: 15px;
  border-radius: 8px;
  background: #1a1a1a;
}

.secao-contato p {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
  font-weight: bold;
}

button, .btn-novo {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  display: block;
  text-align: center;
}

button[type="submit"] {
  background: linear-gradient(135deg, #198754, #146c43);
  color: white;
  margin-top: 10px;
}

.btn-novo {
  background: #0d6efd;
  color: white;
  margin-bottom: 20px;
}

#lista-funcionarios {
  list-style: none;
  padding: 0;
}

#lista-funcionarios li {
  background: #252525;
  border: 1px solid #333;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.botoes-bloco {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.btn-edit {
  background: #979001;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 14px;
  text-decoration: none;
}

.btn-excluir {
  background: #bb2d3b;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  font-size: 14px;
}

.voltar {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #aaa;
  text-decoration: none;
}